* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

div {
    background-color: #333333;
    width: 30%;
    height: 100px;
    margin: 0px auto;
    margin-top: 100px;
    border-radius: 5px;
}

div label {
    color: #eee;
    margin: 0px auto;
}

div input {
    width: 80%;
}

div button {
    width: 80%;
    border: 1px solid gray;
}