<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="homepage.php">Home</a></li>
            <li><a href="about.php">About Us</a></li>
            <li><a href="movie.php">Movies</a></li>
            <li><a href="addMovie.php">Add Movie</a></li>
            <li>
                <form method="POST" action="homepage.php">
                    <!-- To give data of button you have to give it a name attribute-->
                    <input type="submit" name="logout" value="Logout">
                </form>
            </li>
        </ul>
    </nav>
