        <div class="container">
            <h1>Homepage</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra ornare turpis. Etiam finibus tortor sit amet justo vestibulum, vel facilisis arcu sollicitudin. Phasellus ac ex at nunc mollis fermentum sed a est. Nullam tempor eros at magna laoreet bibendum sed ac nulla. Proin quis auctor justo. Ut cursus fermentum urna et dapibus. Sed nisl quam, rutrum in consectetur vitae, tincidunt sit amet massa.

                Phasellus faucibus nunc ex, sed tristique dolor vehicula sit amet. Aenean et enim laoreet, gravida lacus sit amet, luctus dolor. Donec condimentum consectetur felis, eu volutpat ipsum efficitur id. Donec felis felis, consectetur nec lacus id, sollicitudin rhoncus eros. Suspendisse blandit urna lorem, id auctor erat iaculis eget. Fusce feugiat blandit nisi, vel egestas libero rutrum eget. In hac habitasse platea dictumst. Phasellus facilisis risus vitae metus lacinia, at condimentum est luctus. Suspendisse aliquam diam id ex fringilla mollis. Ut semper ac quam quis placerat. In facilisis venenatis mi eget lacinia. Sed nec elit et metus egestas viverra eu vitae dui.
            </p>
            <img style="width: 80%; margin-left: 10%;" src="http://localhost/project-example/views/img/banner.png"/>
            <p> 
                Pellentesque ut pharetra tellus, ac sollicitudin arcu. Maecenas velit orci, blandit a egestas et, pharetra in sapien. Pellentesque varius feugiat ex ut volutpat. Morbi orci turpis, lobortis vel pharetra eu, tristique eget libero. Suspendisse potenti. Curabitur quis turpis dignissim nulla sagittis convallis. Ut sit amet pellentesque erat.
            </p>
        </div>
    </body>
</html>